

.mos_container{
    width:100%;
    height: 600px;
    overflow: hidden;
    position: relative;

}


#item_wrapper{
    position: absolute;
    top:0;
    left:0;
    width:10000px;
}

.mos_container .slider_item{

    display:inline;
    float: left;
    margin-right:24px;
}